<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

   <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static 'images/loginbackground.png' %}">
{% block content %}
    <div class="d-flex justify-content-center pt-5 ">
        <div class="form-group border border-dark">
            <div class="px-3 py-3">
                <form method="POST" action="" style="border: none;">
                    {% csrf_token %}
                    <label for="id_username">Login:</label>
                    <input class="form-control" type="text" name="username" autofocus="" maxlength="254" required=""
                           id="id_username">
                    <label for="id_password">Hasło:</label><br>
                    <input type="password" class="form-control" name="password" required="" id="id_password">
                    <br>
                    <p>
                        <button type="submit" class="btn btn-primary mb-2">Zaloguj</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>