{% extends 'userPanel/baseLeft.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="" style="border: none;">
            {% csrf_token %}
            <label for="id_nameGroup">Nazwa Grupy:</label>
            <input class="form-control" type="text" name="nameGroup" maxlength="100" required="" id="id_nameGroup">

            <br>
            <p>
                <button type="submit" class="btn btn-primary mb-2">Dodaj</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}