{% extends 'userPanel/baseLeft.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="" style="border: none;">
            {% csrf_token %}
            <label for="id_nameItem">Nazwa przedmiotu</label>
            <input class="form-control" type="text" name="nameItem" maxlength="100" required="" id="id_nameItem">
            <label for="id_amount">Ilość</label>
            <input class="form-control" type="number" name="amount" maxlength="100" required="" id="id_amount">
            <br>
            <p>
                <button type="submit" class="btn btn-primary mb-2"  onclick="conf()" >Dodaj</button>
            </p>
        </form>
    </div>
</div>
       {# TU MOZE GDZEIS SIE SYPAC TESTOWAC  bo JAVASCRIPT TU JEST !!!! #}
    <script>
        function conf() {

                window.location.reload(false);
        }
    </script>
{% endblock %}