{% extends 'userPanel/baseLeft.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
            {% for i in userList %}
                <p>
{#                <label for="do not"></label>#}
                    <select class="form-control" id="id{{ forloop.counter }}">
                        {% for i in userList %}
                            <option>{{ i.name }} - {{ i.surrname }}</option>
                        {% endfor %}
                    </select>
                </p>

            {% endfor %}
            <form method="POST" action="" style="border: none;">
                {% csrf_token %}
                <label for="id_name">Nazwa kolejki:</label><br>
                <input class="form-control" id="id_name"  name="name">
                <label for="id_userQ">Kolejka:</label><br>
                <textarea class="form-control"  id="id_userQ" cols="10" rows="1" name="userQ" readonly></textarea>
                <br>
            <p><button onclick="scal(event)" class="btn btn-primary mb-2">Generuj kolejke</button></p>
            <p> <button type="submit" class="btn btn-primary mb-2">Dodaj kolejke</button></p>
            <br>
            <br>
            </form>
        </div>
    </div>
    <script>
        function scal(event) {
            var num ={{ count }};
            var takeText;
            var i;
            var str = "";
            for (i = 1; i <= num; ++i) {
                takeText = document.getElementById("id" + i);
                str += takeText.options[takeText.selectedIndex].text;
                if (i != num)str += ",";
            }
            document.getElementById("id_userQ").innerText = str;
            event.preventDefault()
            // x.innerHTML = str;
        }
    </script>

{% endblock %}