{% extends 'userPanel/baseLeft.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="" style="border: none;">
            {% csrf_token %}

            <label for="id_title">Tytuł:</label>
            <input class="form-control" type="text" name="title" maxlength="100" required="" id="id_title">


            <label for="id_content">Treść</label><br>
            <textarea class="form-control" name="content" cols="40" rows="10" id="id_content"></textarea>
            <br>
            <p>
                <button type="submit" class="btn btn-primary mb-2">Opublikuj</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}