{% extends 'userPanel/baseLeft.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">

            <form method="POST" action="" style="border: none;">
                {% csrf_token %}
                <label for="id_name">Nazwa Planu</label><br>
                <input class="form-control" id="id_name"  name="name">
                <label for="id_queue">Kolejka:</label><br>
                <p>
                    <select  class="form-control"  id="id_queue" name="queue">
                        {% for i in queueList %}
                            <option value="{{ i.id }}" >{{ i }}</option>
                        {% endfor %}
                    </select>
                </p>
                <label for="id_weeks">Tygodnie</label><br>
                <textarea class="form-control" id="id_weeks" cols="10" rows="1" name="weeks">{{ weeks }}</textarea>
{#                <label for="id_duration">Tygodnie</label><br>#}
{#                <textarea class="form-control" id="id_duration" cols="10" rows="1" name="duration">{{ duration }}</textarea>#}
                <br>
{#            <p><button onclick="scal(event)" class="btn btn-primary mb-2">Generuj kolejke</button></p>#}
            <p> <button type="submit" class="btn btn-primary mb-2">Dodaj Plan</button></p>
            <br>
            <br>
            </form>
        </div>
    </div>
    <script>
        function scal(event) {
            var num ={{ count }};
            var takeText;
            var i;
            var str = "";
            for (i = 1; i <= num; ++i) {
                takeText = document.getElementById("id" + i);
                str += takeText.options[takeText.selectedIndex].text;
                if (i != num) str += ",";
            }
            document.getElementById("id_userQ").innerText = str;
            event.preventDefault()
            // x.innerHTML = str;
        }
    </script>

{% endblock %}