<!DOCTYPE html>
{% if user.is_authenticated %}
    {% load static %}

    <html lang="pl">
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


        <title>userPanel</title>

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main' %}">FlatManagement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'putPost' %}">Tablica <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'groups' %}">Lista Przedmiotów <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'schedule' %}">Grafiki <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Akcje
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'postCreate' %}" target="leftSide">Napisz Post</a>
                        <a class="dropdown-item" href="{% url 'groupCreate' %}" target="leftSide">Dodaj Grupe</a>
                        <a class="dropdown-item" href="{% url 'cerateSchedule' %}" target="leftSide">Dodaj Grafik</a>
                        <a class="dropdown-item" href="{% url 'cerateFlatMateQ' %}" target="leftSide">Dodaj Kolejke</a>
                        {#                        <a class="dropdown-item" href="{% url 'addMate' %}" target="leftSide">Dodaj Mieszkańca</a>#}
                    </div>
                </li>
            </ul>
            <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
        </div>
    </nav>
    <!-- ################################################################################################# -->
    {% block content %}

    {% endblock %}
    <!-- ################################################################################################# -->
    </body>
    </html>
{% else %}
    <p>
        Brak dostepu
    </p>
{% endif %}
