<!DOCTYPE html>
{% load static %}
{% if user.is_authenticated %}

    <html lang="pl">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


        <meta charset="UTF-8">
        <title>userPanel</title>

    </head>
    <body>
    {% block content %}

    {% endblock %}
    <!-- ################################################################################################# -->

    </body>
    </html>
{% else %}
    <p>
        Brak dostepu
    </p>
{% endif %}
