{% extends 'userPanel/base.html' %}
{% block content %}
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md">
                <div class="container">
                    <div class="row" style="width: auto; word-wrap: break-word; margin: 5px">
                        {% for group  in  allGroups %}

                            <div class="card" style="margin: 10px; width: 13em">
                                <a href="{% url 'detail'  group.id %}"
                                   class="btn btn-primary btn-block" target="leftSide">{{ group.nameGroup }}</a>
                                <a href="#" onclick="conf({{ group.id }})" style="text-align: center">Usuń</a>
                            </div>


                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md border-left"> <!-- prawo grafiki  -->
                <iframe src="{% url 'def' %}" name="leftSide"
                        style=" min-height:500px;width: 100%;height: 100%;overflow: hidden;"
                        frameborder="0"></iframe>
            </div>

        </div>
    </div>
    {# TU MOZE GDZEIS SIE SYPAC TESTOWAC  bo JAVASCRIPT TU JEST !!!! #}
    <script>
        function conf(id) {
            var r = confirm("Czy napewno chcesz usunąć tą grupę?");
            if (r == true) {
                window.location.href = '{{ './groupDelete/'}}' + id;
            } else {

            }
        }
    </script>
{% endblock %}
