{% extends 'userPanel/baseLeft.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{% url 'addItem' id %}" class="btn btn-primary btn-block">Dodaj item</a>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for item in groupDetail.commonitems_set.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th scope="row">{{ item.nameItem }}</th>
                        <th scope="row">{{ item.amount }}</th>
                        <th scope="row"><a href="{% url 'plusItem' id item.id %}" class="btn btn-outline-success btn-sm" style="margin-right: 5px" onclick="reload()"> + </a>
                            <a href="{% url 'minusItem' id item.id %}" class="btn btn-outline-secondary btn-sm" style="margin-right: 15px" onclick="reload()"> - </a>
                            <a href="#" class="btn btn-outline-danger btn-sm" onclick="conf({{ id }},{{ item.id }})">Usuń</a></th>
                    </tr>
                {% endfor %}
            </table>
            <br>

        </div>
    </div>
    <script>
        function reload() {

            window.location.reload();
        }

        function conf(idG, idI) {
            var r = confirm("Czy napewno?");
            if (r == true) {
                window.location.href = '{{ '/userPanel/deleteItem/'}}' + idG +'/'+ idI ;
            } else {

            }
        }
    </script>
{% endblock %}