{% extends 'userPanel/base.html' %}
{% block content %}
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md-6 pl-4"> <!-- srodek eventy -->
                {% for p in obj %}
                    <div class="border border-primary pt-2">
                        <div class="container ">
                            <div class="row border-bottom" style="margin: 1px">
                                <h3> {{ p.title }}</h3>
                            </div>
                            <div class="text border-bottom" style="width: auto; word-wrap: break-word; margin: 5px">
                                {{ p.content }}
                            </div>
                            <a href="#" class="btn btn-primary btn-sm " role="button" aria-disabled="true" onclick="conf({{ p.id }})">Wykonano</a>

                            <p>Data Umieszczenia: {{ p.updated }}<p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                {#                <div class="pagination">#}
                {#         <span class="step-links">#}
                {#        {% if obj.has_previous %}#}
                {#            <a href="?page=1">&laquo; first</a>#}
                {#            <a href="?page={{ obj.previous_page_number }}">previous</a>#}
                {#        {% endif %}#}
                {##}
                {#             <span class="current">#}
                {#            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.#}
                {#        </span>#}
                {##}
                {#             {% if obj.has_next %}#}
                {#                 <a href="?page={{ obj.next_page_number }}">next</a>#}
                {#                 <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>#}
                {#             {% endif %}#}
                {#        </span>#}
                {#                </div>#}
            </div>
            <div class="col-md-6 border-left"> <!-- prawo grafiki  -->

                <iframe src="{% url 'def' %}" name="leftSide"
                        style="min-height:500px;width: 100%;height: 100%;overflow: hidden;"
                        frameborder="0"></iframe>

            </div>
        </div>
    </div>
     <script>
        function conf(id) {
            var r = confirm("Czy napewno?");
            if (r == true) {
                window.location.href = '{{ '/userPanel/postDelete/'}}' + id;
            } else {

            }
        }
    </script>
{% endblock %}