{% extends 'userPanel/base.html' %}
{% block content %}
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md">
                <div class="container">
                    {% for i in list %}{# lista wszystkich planow #}
                        <table class="table table-dark table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">{{ i.name }}</th>
                                {% for det in i.listU %}
                                    <th scope="col">{{ det }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for det in i.listWeeks %} {# lista tygodni #}
                                <tr>
                                    <th scope="row">{{ det }}</th>
                                    {% for j in i.listU %}
                                        {% if det  ==  i.currentWeek %}{#  X  #}
                                            {% if forloop.counter0 == i.current %}
                                                <td style="background-color:white;color: #1d2124;text-align: center;">{{ day }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                    {% endfor %}
                                </tr>
                            {% endfor %}
{#                            <a href="{% url 'scheduleDelete' i.id %}">usun</a>#}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md border-left"> <!-- prawo grafiki  -->
                <iframe src="{% url 'def' %}" name="leftSide"
                        style=" min-height:500px;width: 100%;height: 100%;overflow: hidden;"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}