{% extends 'userPanel/base.html' %}
{% block content %}

    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-md">
                <div class="text-center" style="padding-top: 30px;width: auto;; word-wrap: break-word;margin: 20px">
                    <b><p>Witaj</p></b>
                    <p>Krótki samouczek jak co działa</p>
                    <P>Trzy podstawowe opcje menu:<br>
                        Tablica - można umieszczać na niej komunikaty/listy zadań w formie postu<br>
                        Lista przedmiotów - służy do informowania o stanie rzeczy/sprzętu w mieszkaniu podzielone są na
                        grupy
                        np.
                        środki czystości a w grupach przedmiotów np domestos w imości 2<br>
                        Grafiki - pokazują rozkład obowiązków na kilka tygodni</p>

                    <b><p>Akcje:</p></b>
                    <p>Napisz Post - dodaje nowy wpis do Tablicy<br>
                        Dodaj Kolejke - dodaje nowa kolejke, kolejki są potrzeben do Grafików<br>
                        Dodaj Grupe - dodaje nową grupe przedmiotow<br>
                        Dodaje grafik- tworzy grafik kolejnośc jest ustalona na podstawie wybranej kolejki</p>

                    <b><p>Uwagi</p></b>
                    <p>Administator dodaje mieszkanców do mieszkania<br>
                        Grafiki same się usuwają, w momencie gdy nie będzie aktualny z datą <br>
                        Liczba tygodni w grafiku jest zależna od ilosci osób w mieszkaniu</p>
                        Aby dodać grafik należy najpierw utowrzyć kolejke.
                </div>

            </div>
            <div class="col-md border-left"> <!-- prawo grafiki  -->
                <iframe src="{% url 'def' %}" name="leftSide"
                        style=" min-height:500px;width: 100%;height: 100%;overflow: hidden;"
                        frameborder="0"></iframe>
            </div>

        </div>
    </div>



{% endblock %}